<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Vélo</th>
      <th scope="col">Date</th>
      <th scope="col">Prix</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>

  <% @total = [] %>
  <% @carts.each do |cart| %> 
  <tbody>
    <tr>

    <% @rent_period = (cart.date_end - cart.date_disponible)/60/60/24 %>
    <%= @rent_period = @rent_period.to_i %>
      <td> <%= image_tag Bike.find(cart.bike_id).imgbike, alt: 'imgbike' ,width: '100px', height: '100px'%></td>
      <td><span> du </span><%= cart.date_disponible.strftime("%d/%m/%Y") %> <span> au </span> <%= cart.date_end.strftime("%d/%m/%Y") %></td>

      <td><%= cart.prix * @rent_period %> <% @total << (cart.prix * @rent_period) %> €</td>

    
      <td><a href="<%= rent_path(cart.id) %>" class="btn btn-outline-danger" data-method="DELETE"><i class="far fa-trash-alt"></i></a></td>
    </tr>
  </tbody>



  <% end %>
</table>
<div class="border p-1">
Total à régler : <span class="color_for_icon"><%= @total.sum %> <i class="fas fa-euro-sign"></i> </span>
  <%= render "pay_cart" %>
</div>


