<h3>Avatar actuel</h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' ,width: '200px', height: '200px'%>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<h3>Changer d'avatar ?</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>

<%= link_to"edit profile", edit_user_path %>


<div class="container">

<div class="row border">

<div class="col-4">
    <% if current_user %>
    
    id : <%= @user.id %><br>
    <span class="text-muted">email :</span> <%= @user.email %> <br>
    <span class="text-muted">firs name :</span> <%= @user.first_name %><br>
    <span class="text-muted">last name :</span> <%= @user.last_name %><br>
    <span class="text-muted">date de naissance :</span> <%= @user.id %><br>
</div>
  <div class="col-4"></div>
  <div class="col-4>
     <a href="<%= user_path(current_user.id) %>"><img src="" class="rounded mr-0" width= 200px, height= 200px></a>
  </div>
</div>

    <div class="row">
      <%= link_to "envoyer un message", root_path, class: "btn btn-outline-dark" %>
      <%= link_to "Se deconnecter",destroy_user_session_path, :method => :delete, class: "btn btn-outline-dark" %>
    </div>
      <% end %>


<p>my cart: </p>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">prix</th>
      <th scope="col">payed?</th>
      <th scope="col">bike</th>
      <th scope="col">Date d'ajoute</th>
    </tr>
  </thead>

  <% @total = 0 %>
  <% @carts.each do |cart| %> 


  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <%= cart.prix %> €</td>
      <% @total = @total + cart.prix %>
      <td> <%= cart.payed %></td>
      <td> <%= image_tag Bike.find(cart.bike_id).avatar, alt: 'avatar' ,width: '100px', height: '100px'%></td>
      <td> <%= cart.created_at %></td>
      <td><a href="<%= rent_path(cart.id) %>" class="btn btn-outline-danger" data-method="DELETE">Delete</a></td>
    </tr>
  </tbody>
  <% end %>
</table>
total à régler : <%= @total %> €
<%= render "pay_cart" %>
<hr>


<p>mes velos: </p>
<%= link_to"ajouter un vélo", new_bike_path %>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">bike id</th>
      <th scope="col">more info</th>

    </tr>
  </thead>
  <% @bikes.each do |bike| %> 
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><%= image_tag bike.avatar, alt: 'avatar' ,width: '200px', height: '200px'%></td>
      <td> <%= bike.more_info %></td>
      <td><a href="<%= bike_path(bike.id) %>" class="btn btn-outline-danger" data-method="DELETE">Delete</a></td>
    </tr>
  </tbody>
  <% end %>
</table>








<p>mes locations payées: </p>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">bike id</th>
      <th scope="col">more info</th>

    </tr>
  </thead>
  <% @rents.each do |rent| %> 
  <tbody>
    <tr>
      <th scope="row"></th>
      
      <td><%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%></td>

    </tr>
  </tbody>
  <% end %>
</table>


</div>

