<br><br><br>
<div class="container-fluid mt-5">
  <div class="container">   
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <%= render "avatar" %>
        <%= render "btn_under_photo" %>
      </div>
      <div class="col border m-1 p-3">
        <p class="lead">Bonjour, je m'appelle <%= @user.first_name %> <%= @user.last_name.upcase %></p>
        <p class="text-muted">Email : <%= @user.email  %></p>
        <p class="text-muted">Membre depuis le : <%= @user.created_at.strftime("%d/%m/%Y")  %></p>
        <p class="text-muted">Date de naissance : <%= @user.birthday.strftime("%d/%m/%Y") %> (<%= DateTime.now.year - @user.birthday.year%> ans)</p>
        <p class="text-muted">Locations : <%= Rent.where(user_id: @user.id, payed: true).length %> x <i class="fas fa-bicycle fa-1x" style="color:#008B8B;"></i></p>
        <p class="text-muted">Likes : <% Comment.where(recipient_id: @user.id).each do |comment| %> 
        <%= comment.note%>
        <% end %>
         x <i class="fas fa-heart fa-1x" style="color:#DC143C;"></i></p>
      </div>           
    </div>
       <%= render "tablist" %>   


<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade exp-cover" id="cart" role="tabpanel" aria-labelledby="cart-tab">
    <%= render "cart" %>
    <%= render "pay_cart" %>
  </div>
             

<div class="tab-pane fade exp-cover" id="rent" role="tabpanel" aria-labelledby="rent-tab">           
<%= render "rent" %>                          
</div>

              
<div class="tab-pane fade gallcoo" id="bike" role="tabpanel" aria-labelledby="contact-tab">
<% if current_user.id == @user.id %>
      <%= link_to new_bike_path, class: "btn btn-default" do %>
      <i class='fa fa-plus fa-2x' aria-hidden='true'></i> Ajouter un vélo
  <% end %>
<% end %>
<%= render "bike" %>                                              
</div>

<div class="tab-pane fade exp-cover" id="commentaire" role="tabpanel" aria-labelledby="message-tab">           
  <%= render "commentaire" %>        
</div>

<div class="tab-pane fade exp-cover" id="private_message" role="tabpanel" aria-labelledby="private_message-tab">           
  <%= render "private_message" %>       
</div>



</div>
</div>
</div>