<div class="container">
<p class="display-4"><span class="text-success"> V-loue </span> disponibles: </p>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">À partir du:</th>
      <th scope="col">Jusqu'au:</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>
      <th scope="col"></th>



    </tr>
  </thead>
  <% @rents.each do |rent| %>
  <tbody>
    <tr>
     <th scope="row"><%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%></th>

      
      <td><span class="text-success"><%= rent.date_disponible.strftime("%d/%m/%Y") %></span></td>

      <td><span class="text-success"><%= rent.date_end.strftime("%d/%m/%Y") %></span></td>

       <% @rent_period = (rent.date_end - rent.date_disponible)/60/60/24 %>
      <td><span class="text-success"><%= (rent.prix *  @rent_period) %></span> € <span><hr>soit <%= (rent.prix) %></span> € par jour</td>

      <% if user_signed_in? && Rent.find_by(id: rent.id, user_id: current_user.id) %>
<td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>
  <%= submit_tag("Louer", :class => "btn btn-warning disabled" ) %>
  <a href="<%= rent_path(rent.id) %>" class="text-danger" data-method="DELETE"><i class="far fa-trash-alt fa-2x"></i></a></td>
  <% end %>

  <% elsif user_signed_in? %>
  <td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>

<%= submit_tag("Louer", :class => "btn btn-warning" ) %>


    <% end %>

<% else %>
<td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>
  <%= submit_tag "Connexion" %></td>
  <% end %>
<% end %>
    <td>
      <%= link_to"Affiche plus", rent_path(rent.id)%><i class="fas fa-plus fa-2x"></td>





  </tbody>
  <% end %>
</table>

</div>