<div class="container-fluid">
<p><span class="text-success"> V-loue </span> disponibles: </p>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">À partir du:</th>
      <th scope="col">Jusqu'au:</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <%= link_to "faire une location", new_rent_path, class: "btn border"%>

  <% @rents.each do |rent| %>
  <tbody>
    <tr>
     <th scope="row"><<%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%>></th>

      <td><span class="text-success"><%= rent.date_disponible.strftime("%d/%m/%Y") %></span></td>

      <td><span class="text-success"><%= rent.date_end.strftime("%d/%m/%Y") %></span></td>

       <% @rent_period = (rent.date_end - rent.date_disponible)/60/60/24 %>
      <td><span class="text-success"><%= (rent.prix *  @rent_period) %></span> € <span><hr>soit <%= (rent.prix) %></span> € par jour</td>



  <% if user_signed_in? && Rent.find_by(id: rent.id, user_id: current_user.id) %>
    <td>
      <%= link_to 'delete from cart', rent_path(rent.id), method: "patch",rent_id: rent.id, class: "btn btn-warning", remote: true %>
    </td>
  <% elsif user_signed_in? %>
    <td>
      <%= link_to 'add to cart', rent_path(rent.id), method: "patch",rent_id: rent.id, class: "btn btn-warning", remote: true %>
    </td>
  <% end %>



    <td>
      <%= link_to"Affiche plus", rent_path(rent.id)%>
    </td>

  </tr>
  </tbody>
  <% end %>
</table>

</div>


