<div class="container">
<p>all propositions: </p>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">photo</th>
      <th scope="col">prix</th>
      <th scope="col">date dispo</th>

    </tr>
  </thead>
  <% @rents.each do |rent| %>
  <tbody>
    <tr>

    

      






  
      <th scope="row"><%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%></th>

      <td><%= rent.prix %> €/day </td>
      <td>
      <%= link_to"show more", rent_path(rent.id)%></td>

      <% if user_signed_in? && Rent.find_by(id: rent.id, user_id: current_user.id) %>
<td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>
  <%= submit_tag "already cart " %>
  <a href="<%= rent_path(rent.id) %>" class="btn btn-outline-danger" data-method="DELETE">Delete</a></td>
  <% end %>

  <% elsif user_signed_in? %>
  <td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>
    <%= submit_tag "add to cart " %></td>
    <% end %>

<% else %>
<td><%=  form_tag(rent_path(rent.id), method: "patch", rent_id: rent.id) do  %>
  <%= submit_tag "sing in to add to cart " %></td>
  <% end %>
<% end %>
    
      <td>
      <%=  rent.created_at %></td>
    </tr>
  </tbody>
  <% end %>
</table>

</div>