<br><br><br><br><br>


<div class="container-fluid">

  <div class="card-deck">
        <% @rents.each do |rent| %>


    <div class="card m-1">
      <%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar', class: "rounded" %>
      <div class="card-body">


      <% @note_user = 0 %>
      <% @comment_user = Comment.where(recipient_id: User.find_by(id: Bike.find_by(id: rent.bike_id).user_id)) %>
      <% @comment_user.each do |comment| %>
      <%= @note_user += comment.note/@comment_user.length %>
      <% end %>


        <p class="card-text"><span>Date: <%= rent.date_disponible.strftime("%d/%m/%Y") %></span> - <span><%= rent.date_end.strftime("%d/%m/%Y") %></span></p>
        <p class="card-text"><% @rent_period = (rent.date_end - rent.date_disponible)/60/60/24 %>
          <td>Prix : <span><%= (rent.prix *  @rent_period) %> € | soit </span><span><%= (rent.prix) %></span> € /jour</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">user note: <%= @note_user %></small>
      </div> 
      <div class="card-footer">  
      <%= link_to"Affiche plus", rent_path(rent.id)%><hr>
      <%= link_to"envoyer un message", rent_path(rent.id)%><hr>
        <% if user_signed_in? && Rent.find_by(id: rent.id, user_id: current_user.id) %><hr>
      <%= link_to 'delete', rent_path(rent.id), method: "patch",rent_id: rent.id, remote: true %><hr>
      <% elsif user_signed_in? %>   
      <%= link_to 'add   ', rent_path(rent.id), method: "patch",rent_id: rent.id, remote: true %><hr>
      <% end %>
      </div> 
    </div>
    <% end %>

      
  </div>

</div>