<div class="container-fluid">
<p><span class="text-success"> V-loue </span> disponibles: </p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">À partir du:</th>
      <th scope="col">Jusqu'au:</th>
      <th scope="col">Prix</th>
      <th scope="col"></th>

    </tr>
  </thead>

  <%= link_to "faire une location", new_rent_path, class: "btn border"%>

  <% @rents.each do |rent| %>
  <tbody>
    <tr>
     <th scope="row"><%= image_tag Bike.find(rent.bike_id).avatar, alt: 'avatar' ,width: '200px', height: '200px'%></th>

      <td><span class="text-success"><%= rent.date_disponible.strftime("%d/%m/%Y") %></span></td>

      <td><span class="text-success"><%= rent.date_end.strftime("%d/%m/%Y") %></span></td>

       <% @rent_period = (rent.date_end - rent.date_disponible)/60/60/24 %>
      <td><span class="text-success"><%= (rent.prix *  @rent_period) %></span> € <span><hr>soit <%= (rent.prix) %></span> € par jour</td>







    <td>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2664.6066737208566!2d-1.6972163843829646!3d48.09853156185866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480edff4bf8c8c5f%3A0x539b62e924d66517!2s1%20Rue%20des%20Munitionnettes%2C%2035000%20Rennes!5e0!3m2!1sfr!2sfr!4v1585052933781!5m2!1sfr!2sfr" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><hr>
      <%= link_to"Affiche plus", rent_path(rent.id)%><hr>
      <%= link_to"envoyer un message", rent_path(rent.id)%><hr>
        <% if user_signed_in? && Rent.find_by(id: rent.id, user_id: current_user.id) %><hr>
      <%= link_to 'delete', rent_path(rent.id), method: "patch",rent_id: rent.id, remote: true %><hr>
      <% elsif user_signed_in? %>   
      <%= link_to 'add   ', rent_path(rent.id), method: "patch",rent_id: rent.id, remote: true %><hr>
      <% end %>
    </td>

  </tr>
  </tbody>
  <% end %>
</table>

</div>



<%= Rent.where(date_disponible: "2020-10-10").length %>