<br><br><br>

<div class="container">
 <span class="text-muted">De: </span> <%= User.find(@private_message.senderMP_id).email %> (<%= User.find(@private_message.senderMP_id).first_name %>) <%= link_to"Afficher profil", user_path(@private_message.senderMP_id) %>


 <p><span class="text-muted">Message: </span> <%= @private_message.content %></p>

 <hr>

  <%= form_tag private_messages_replay_path ,class: "border p-2", multipart: true do %>

      <%= text_field_tag :'content',"", class: 'form-control' %><br>

      <%= hidden_field_tag 'recipientMP_id', @private_message.senderMP_id %>

      <%= submit_tag "Repondre" , class: "button"%>

<% end %>

<%= link_to"Revenir aux messages", user_path(current_user.id) %>


</div>
<br>

<div class="mt-7 text-white">.</div>