<nav class="navbar navbar-expand-md navbar-custom">
      
        <a href="<%= root_path %>" class="navbar-brand logo-image"><span>V-loue </span><%= image_tag "logo.png", alt: 'v-loue'%></a> 
        
        <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    
            <span class="navbar-toggler-awesome fas fa-chevron-down"></span>
            <span class="navbar-toggler-awesome fas fa-chevron-up"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll text-dark" href="<%= new_rent_path %>">Proposer une location</a>
                </li>

                <!-- user not singed in -->         
                <% if user_signed_in? %> 
                <li class="nav-item">
                  <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, class: "nav-link page-scroll text-dark" %>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to "Connexion", new_user_session_path, class: "nav-link page-scroll text-dark" %>
                </li>
                 <li class="nav-item">
                  <%= link_to "Inscription", new_user_registration_path, class: "nav-link page-scroll text-dark" %>
                </li>

        
                <% end %>
                <li class="nav-item">
                    <% if current_user %>
                        <% if current_user.avatar.attached? %>
                          <a href="<%= user_path(current_user.id) %>"><%= image_tag current_user.avatar, alt: 'avatar' ,width: '70px', height: '70px', class: "rounded-circle" %></a>
                        <% else  %>
                           <a href="<%= user_path(current_user.id) %>"><%= image_tag "unkown_user.png", alt: 'avatar' ,width: '70px', height: '70px', class: "rounded-circle"%></a>
                        <% end %>
                        <a href="<%= user_path(current_user.id)%>" class="badge badge-danger"><%= Rent.where(user_id: current_user.id, payed: false).length%> <i class="fas fa-cart-plus"></i></a>
                 
                       
                      <% end %>
                  </li>
 
            </ul>          
        </div>
    </nav>
