<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
  <div class="container-fluid">
    <div class="d-flex align-items-center"><a href="<%= root_path %>" class="navbar-brand py-1"><kbd class="p-3">V-loue <i class="fas fa-bicycle fa-2x"></i></kbd></a> 
    </div>

    <% if current_user %>
      <% if current_user.avatar.attached? %>
        <a href="<%= user_path(current_user.id) %>"><%= image_tag current_user.avatar, alt: 'avatar' ,width: '70px', height: '70px'%>
        <span class="btn btn-dark">Mon Espace</span></a>
      <% else %>
         <a href="<%= user_path(current_user.id) %>"><%= image_tag "unkown_user.png", alt: 'avatar' ,width: '70px', height: '70px'%> <span class="btn btn-dark">Mon Espace</span></a>
      <% end %>
    <% end %>

    <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="<%= pages_contact_path %>" class="nav-link">Contact</a></li>
          <% if !user_signed_in? %>
          <li class="nav-item"><a href="<%= new_user_session_path %>" class="nav-link">Connexion</a></li>
          <li class="nav-item"><a href="<%= new_user_registration_path %>" class="nav-link">Inscription</a></li>
          <% end %>

          <% if current_user %>
          <li class="nav-item"><%= link_to "Se déconnecter",destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
          <% end %>

          <li class="nav-item mt-3 mt-lg-0 ml-lg-3 d-lg-none d-xl-inline-block"><a href="<%= new_rent_path %>" class="btn btn-dark">faire une location</a></li>
      </ul>
    </div>
  </div>
</nav>


<br><br><br><br>